---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { config } from "../data/config";

const { title, description, image, type = "website" } = Astro.props;
const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || Astro.url.origin
);

function getFullImageUrl(imagePath: string) {
  if (imagePath.startsWith("http://") || imagePath.startsWith("https://")) {
    return imagePath;
  }
  return new URL(imagePath, Astro.site || Astro.url.origin).toString();
}

const ogImage = image
  ? getFullImageUrl(image)
  : getFullImageUrl(config.defaultOgImage);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || config.siteName}</title>
    <meta name="description" content={description || config.siteDescription} />
    <link rel="canonical" href={`${config.siteUrl}${Astro.url.pathname}`} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title || config.siteName} />
    <meta
      property="og:description"
      content={description || config.siteDescription}
    />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title || config.siteName} />
    <meta
      property="twitter:description"
      content={description || config.siteDescription}
    />
    <meta property="twitter:image" content={ogImage} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-chivo">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
